eel
playsound
pyautogui
pywhatkit
pvporcupine
hugchat
beautifulsoup4
pyaudio
flask
gevent
gevent-websocket
click
certifi
greenlet
blinker
colorama
idna
numpy
requests
adb-shell
bottle
bottle-websocket
setuptools
SpeechRecognition

